# Binary
forge

# Outputs
*/*.o
compile_commands.json

# Tests
tests/test-*
tests/fixtures/bin
tests/fixtures/child
tests/fixtures/lib
tests/fixtures/rpath.toml

# rootfs
rootfs/*
rootfs/

# Demo
demo.cast
demo.gif
